* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 2%;
  font-family: 'Karla', sans-serif;
}

main {
  background-color: darkslategrey;
  height: 550px;
  max-width: 800px;
  border-radius: 5px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color: white; */
}

.die-num {
  font-size: 2rem;
}
button{
  margin-top: 3%;
  background-color:#5035FF;
  color: #FFFFFF;
  padding: 2% 4%;
  border-radius: 7px;
  border: none;
  font-family: inherit;
  font-size: 1.2rem;
  cursor: pointer;
}
button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.highscore-indicator{
  color:white
}
.title{
  color: goldenrod;
  /* font-family: 'Spectral', serif; */
  font-family: 'Uncial Antiqua', cursive;
  
}
.instructions{
  width: 330px;
  max-width: 400px;
  font-size: larger;
  color: wheat;
  font-family: 'Karla', sans-serif;
  /* font-family: 'Uncial Antiqua', cursive; */
}
.timer{
background-color:#5035FF;
padding: 2% 3%;
color: white;
border: none;
border-radius: 5px;
}